@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

main {
  width: 100%;
  background-color: #B3E5FC;

  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 700px;
    max-height: 700px;
    padding-top: 20px;

    .file {
      display: none;
    }

    label {
      position: relative;
      width: 700px;
      height: 100%;
      background-color: #ffffff;
      cursor: pointer;
      border-radius: 1rem;
      box-shadow: 3px 3px 3px rgba(102, 68, 0, 0.5);

      .canvas-container {
        height: 100%;
        width: 100%;
      }
    }
  }
}




