@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

}

main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #B3E5FC;
  padding-top: 30px;

  .information {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    height: 65px;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: #039BE5;
    font-size: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(102, 68, 0, 0.5);

    .outputPeople {
      width: 30%;
      border-right: solid 3px #fff;
    }

    .outputGender {
      width: 40%;
      border-right: solid 3px #fff;
    }

    .outputAge {
      width: 30%;
    }

    .outputPeople, .outputGender, .outputAge {
      box-sizing: border-box;
      margin: 10px 0;
      color: #fff;
    }
  }

  .photo-graph {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    .photo {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      height: 700px;
      max-height: 700px;
      margin: 0 50px;

      .file {
        display: none;
      }

      label {
        position: relative;
        width: 700px;
        height: 100%;
        background-color: #ffffff;
        cursor: pointer;
        border-radius: 1rem;
        box-shadow: 3px 3px 3px rgba(102, 68, 0, 0.5);

        .canvas-container {
          height: 100%;
          width: 100%;
        }
      }

      //.line1, .line2 {
      //  display: none;
      //}
    }

    .graph {
      width: 700px;
      height: 700px;
      background-color: #fff;
      //border-radius: 100rem;
      position: relative;
      //top: 190px;
      //left: 750px;
      margin: 0 50px;


      .chart {
        position: relative;
        width: 700px;
        height: 700px;
      }

      .graphText {
        //display: none;
        width: 150px;
        height: 190px;
        padding: 15px;
        position: absolute;
        left: 235px;
        top: 215px;
        box-shadow: 1px 1px 4px 1px #ccc;
        background-color: #ffffff;
      }

      li {
        list-style-type: none;
      }

      li::before {
        background-color: #ffebca;
        content: "";
        display: inline-block;
        height: 13px;
        width: 13px;
        margin-right: 5px;
        border-radius: 20px;
      }

      li.neutral:before {
        background: #BDBDBD;
      }

      li.contempt:before {
        background: #673AB7;
      }

      li.disgust:before {
        background: #E91E63;
      }

      li.fear:before {
        background: #009688;
      }

      li.happiness:before {
        background: #FF9800;
      }

      li.anger:before {
        background: #F44336;
      }

      li.sadness:before {
        background: #3F51B5;

      }

      li.surprise:before {
        background: #2196f3;
      }
    }

  }


  .start {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
}

.none {
  display: none;
}


.spot-button {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;

  .recommend-button {
    display: inline-block;
    font-size: 22px;
    line-height: 150px;
    text-decoration: none;
  }

  .Arrow {
    margin: 0 0 0 -10px;
    position: absolute;
    left: 50%;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

    .left, .right {
      position: absolute;
      height: 3px;
      width: 40px;
      background: #fff;
      bottom: 10px;
      border-radius: 4px;
      -webkit-transform-origin: 5px 50%;
      opacity: 0.8;
    }

    .left {
      -webkit-transform: rotate(240deg);
      left: 3px;
      -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
    }

    .right {
      -webkit-transform: rotate(-60deg);
      left: 8px;
      -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
    }

    @-webkit-keyframes arrow {
      0% {
        bottom: 0;
      }
      100% {
        bottom: 30px;
      }
    }

    @-webkit-keyframes leftArrow {
      100% {
        -webkit-transform: rotate(225deg);
      }
    }

    @-webkit-keyframes rightArrow {
      100% {
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}


.button {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 40px;
  color: #fff;
  border: 3px solid #fff;
  outline: none;
  transition: background-color 0.2s ease-out,
  border-color 0.2s ease-out;
  cursor: pointer;
  background-color: #E56A69;

  &:hover, &:active {
    background-color: rgba(229, 106, 105, 0.5);
    transition: background-color 0.3s ease-in,
    border-color 0.3s ease-in;
  }
}


.spot {
  //display: none;
  margin: 150px auto 0;
  height: 0;
  width: 80%;
  position: relative;
  background-color: #ffffff;

  .spot-line {
    width: 5px;
    height: 728px;
    background-color: rgba(211, 204, 225, 0.64);
    position: absolute;
    top: 61px;
    left: 34px;
  }

  img {
    height: 700px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px rgba(102, 68, 0, 0.5);
  }


  h2 {
    height: 50px;
    width: 300px;
    margin-left: 30px;
    color: #514C5F;
    font-size: 1.5rem;
    padding-top: 35px;

    &::before {
      background-color: #7F7B8D;
      content: "";
      display: inline-block;
      height: 13px;
      width: 13px;
      margin-right: 10px;
      border-radius: 20px;
    }
  }

  .name {
    height: 40px;
    position: relative;
    bottom: 75px;
    border-bottom: solid 2px #fff;
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    padding-left: 100px;
    font-size: 20px;
  }
}

.top {
  padding: 8px;
  border-radius: 15px;
  font-size: 15px;
  color: #fff;
  border: 3px solid #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #000;
}


