@charset "utf-8";

* {
  margin:0;
  padding:0;
}
body {
  font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}

main {
  width: 100%;
  background-color: #B3E5FC;

  .photo {
    display: flex;
    justify-content: center;
    max-width: 100%;

    .file {
      display: none;
    }

    img {
      width: 800px;
      max-height: 600px;
      cursor: pointer;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 3px 3px 3px rgba(102, 68, 0, 0.5);
      object-fit: contain;
    }

  }
}
